---
import TarjetaProyecto from "../components/TarjetaProyecto";
  const pro1={
    uno:"Esta pagina te permitira encontrar las imagenes en muy buena calidad, de manera rapida.",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: HTML, CSS , JS y la API de Unspash.",

  }
  const pro2={
    uno:"En esta pagina encontraras los mejores Gift que te puedas imaginar .",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: REACT y la api de Unspash.",

  }
  const pro3={
    uno:"En esta aplicacion web tiene como objetivo simular como funciona youtube.",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: REACT,REACT-QUERY-TAILWIND.",

  }
  const pro4={
    uno:"En esta aplicacion web tiene como objetivo Traducir del idioma Ingles a Espa帽ol y viceversa.",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes:FETCH, REACT,CSS-MODULE.",

  }
  const pro5={
    uno:"Esta landing page tiene como objetivo Mostrar mi informaci贸n y mis proyectos",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: Framework Astro, tecnologia que permite usar React. y prioriza el html por encima de javascript. ",

  }
  const pcSoluciones={
  uno:"p谩gina web para una empresa de Reparaci贸n de computadoras, el cual contiene imformaci贸n de la empresa, como servicio, productos para vender  y su ubicaci贸n."
  }
  const peluqueriaKaty={
  uno:"p谩gina web para una peluquer铆a - barber铆a, en la que se encuentra la ubicaci贸n,los servicios que brindad y  mas informacion de la empresa y producto."
  }
  const frutexs = {
  uno:"pagina web para una Empresa de venta de Concentrados de Fruta. Contiene imformaci贸n de la empresa y producto " 
  }
---


<div class="containerProyecto" id="proyectos">
  <h2 >TRABAJOS</h2>
  <TarjetaProyecto title={" empresa 'frutex' (2023)"}  img={"./frutexs.jpg" } description={frutexs} url={"https://frutexs.netlify.app/"} codigo={"https://github.com/devSalas/page-frutexs"} />

  <TarjetaProyecto title={"PELUQUERIA - BARBERIA 'KATY' (2022)"}  img={"./peluqueria.jpg" } description={peluqueriaKaty} url={"https://peluqueria-katy.netlify.app/"} codigo={"https://github.com/devSalas/barberia-page"} />


  <TarjetaProyecto title={"SERVICIO TECNICO 'Servicios Oscar' (2022)"}  img={"./pc-tecnico.jpg" } description={pcSoluciones} url={"https://tecnicopc.netlify.app"} codigo={"https://github.com/devSalas/page-tecnicoPc"}  />

  <h2 class="h2-proyectos">PROYECTOS</h2>


  <TarjetaProyecto title={"Chat de Mensajes "}  img={"./chat.png" } description={pro5} url={"https://red-social-five.vercel.app/"} codigo={"https://github.com/devSalas/red-social"} />

  <TarjetaProyecto title={"Ecommerce 'shop' "}  img={"./ecommerce.png" } description={pro5} url={"https://ecomerce-frontend.vercel.app/"} codigo={"https://github.com/devSalas/ecomerce-frontend"} />

  <TarjetaProyecto title={"PLAY VIDEOS"}  img={"./xplayvideos.jpg" } description={pro3} url={"https://play-videos-app.vercel.app/"} codigo={"https://github.com/devSalas/pageVideos"} />

  
<!--   <TarjetaProyecto title={"BUSCADOR DE IMAGENES"}  img={"./buscadorImg.jpg" } description={pro1} url={"https://buscador-fotos.netlify.app"} codigo={"https://github.com/devSalas/Buscador-de-fotos"}  /> -->
 
  <TarjetaProyecto title={"BUSCADOR DE GIFT"}  img={"./giphy-img.jpg" } description={pro2} url={"https://git-buscador.netlify.app"} codigo={"https://github.com/devSalas/giphy-page"} />


<!-- <TarjetaProyecto title={"PORTAFOLIO"}  img={"./portafolio.jpg" } description={pro5} url={"https://estebansalas.xyz/"} codigo={"https://github.com/devSalas/New-Portfolio"} /> -->

</div>
 
<style>
  h2{
    margin: 20px 0px;
    font-weight: 300;
  }
  .containerProyecto{
    padding: 50px 15px 0px 15px;
    
    max-width: 1100px;
    margin:auto;
  }

  .h2-proyectos{
    margin: 60px 0px 40px 0px;
  }

</style>

