---
import TarjetaProyecto from "../components/TarjetaProyecto";
  const pro1={
    uno:"Esta pagina te permitira encontrar las imagenes en muy buena calidad, de manera rapida.",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: HTML, CSS , JS y la API de Unspash.",

  }
  const pro2={
    uno:"En esta pagina encontraras los mejores Gift que te puedas imaginar 游때",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: REACT y la api de Unspash",

  }
  const pro3={
    uno:"En esta aplicacion web tiene como objetivo simular como funciona youtube游때",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: REACT,REACT-QUERY-TAILWIND",

  }
  const pro4={
    uno:"En esta aplicacion web tiene como objetivo Traducir del idioma Ingles a Espa침ol y viceversa",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes:FETCH, REACT,CSS-MODULE",

  }
  const pro5={
    uno:"Esta landing page tiene como objetivo Mostrar mi informaci칩n y mis proyectos",
    dos:"Esta pagina se desarrollo con las tecnologias  siguientes: Framework Astro, tecnologia que permite usar React. y prioriza el html por encima de javascript ",

  }
---


<div class="containerProyecto" id="proyectos">
  <h2 >PROYECTOS</h2>
  <TarjetaProyecto title={"BUSCADOR DE IMAGENES"}  img={"./buscadorImg.jpg" } description={pro1} url={"https://buscador-fotos.netlify.app"} codigo={"https://github.com/devSalas/Buscador-de-fotos"}  />

  <TarjetaProyecto title={"BUSCADOR DE GIFT"}  img={"./giphy-img.jpg" } description={pro2} url={"https://git-buscador.netlify.app"} codigo={"https://github.com/devSalas/giphy-page"} />

  <TarjetaProyecto title={"PLAY VIDEOS"}  img={"./xplayvideos.jpg" } description={pro3} url={"https://video-platform-app-2t7v.vercel.app/"} codigo={"https://github.com/devSalas/pageVideos"} />
  <TarjetaProyecto title={"TRADUCTOR INGLES-ESPA칌OL"}  img={"./appTraslate.jpg" } description={pro4} url={"https://traducerapido.netlify.app"} codigo={"https://github.com/devSalas/App-translator"} />
  <TarjetaProyecto title={"PORTAFOLIO"}  img={"./portafolio.jpg" } description={pro5} url={"https://estebansalas.xyz/"} codigo={"https://github.com/devSalas/New-Portfolio"} />

</div>

<style>
  h2{
    margin: 20px 0px;
  }
  .containerProyecto{
    padding: 50px 0px 0px 0px;
  }



</style>

